<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="./css/style.css">
  <title>Meet Me At The Bark</title>

</head>

<body>

  <div class="pageHeader">
    <a class="title" href="/">Meet Me at the Bark</a>
      <div class="headerLinks">
        <ul class="headerUL">
          <li class="headerList">
            <a class="headerLink" href="#about-us">About Us</a>
          </li>
          <li class="headerList">
            <a class="headerLink" href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </div>

    <nav>
      {{#if logged_in}}
      <a class="uk-inline navBtn uk-button uk-button-default" id="profile" href="/profile">Profile</a>
        
      <a class="navBtn uk-button uk-button-default" id="logout">Logout</a>
      {{else}}
      <a class="navBtn uk-button uk-button-default" href="/signup">Sign Up</a>
      <a class="navBtn uk-button uk-button-default" href="/login">Login</a>  
      {{/if}}
    </nav>
  </div>

  <main class="uk-background-muted container">
    {{{body}}}


  </main>

  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit-icons.min.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>