<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/jass.js">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Meet Me At The Bark</title>

</head>

<body>
  <div class="pageHeader">
    <h1>Meet Me at the Bark</h1>
      <div>
        <ul>
          <li>
            <a href="#about-us">About Us</a>
          </li>
          <li>
            <a href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </div>

      <nav>
        {{#if logged_in}}
        {{!-- links to profile.handlebars --}}
        <a href="/views/profile.handlebars">My Profile</a>
        <button class="logoutBtn" id="logout">Logout</button>
        {{else}}
        {{!-- links to signup and login handlebars --}}
        <a href="/views/signup.handlebars">Sign Up</a>
        <a href="/views/login.handlebars">Login</a>  
        {{/if}}          
      </nav>

      <main class="container">
        {{!-- sub layout --}}
      </main>
  </div>

  <div class="jumbtron">
    <h1>Meet Me at the Bark</h1>
  </div>

  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
    
</body>
</html>