
<!-- jumbotron section, below nav bar -->
    <div class="jumbotron">
      <img class="dogGroup" src="./images/dog-jumbotron.jpg" alt="dog group">
    </div>
    
    <!-- About Us Section -->
    <div id="about-us">
      <p class="uk-text-center intro">
        Meet Me At The Bark provides the convenience of meeting with fellow dogs and owners within your local community
      </p>

      <p class="about-us-section uk-text-center">Meet up with fellow dogs owners based on similar:</p>

      <div id="similar-section" class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div id="similar" class="uk-card uk-card-default uk-card-body">Interests</div>
        </div>
        <div>
            <div id="similar" class="uk-card uk-card-default uk-card-body">Breed</div>
        </div>
        <div>
            <div id="similar" class="uk-card uk-card-default uk-card-body">Location</div>
        </div>
    </div>


    </div>

    <!-- testimonial section -->
    <div class="testimonial-section">
      <h2 id="testimonials" class="uk-text-center">See Our Testimonials</h2>
      
      <div class="uk-child-width-expand@s uk-text-center testimonial-grid" uk-grid>
        <div class="uk-card uk-card-default uk-card-body">
          <p>
            "Highly recommend this app! Meet Me At The Bark made it so easy for me to meet up with local dog owners and my dog has new playmates now!!"
          </p>
          <p>- Alexa P.</p>
        </div>

        <div class="uk-card uk-card-default uk-card-body">
          <p>
            "Great way to meet other dog owners within my community. Very easy to use and understand"
          </p>
          <p>- Sabrina L.</p>
        </div>

        <div class="uk-card uk-card-default uk-card-body">
          <p>
            "Loved the app features and meeting like-minded individuals and pets."
          </p>
          <p>- Elaine L.</p>
        </div>

        <div class="uk-card uk-card-default uk-card-body">
          <p>
            "I was able to help find a doggy friend for Brian using Meet Me At The Bark! HeHeHe"
          </p>
          <p>- Peter G.</p>
        </div>

        
      </div>
    </div>