  <div id="form">
    <h2 class="signupHeader uk-text-center">Join Meet Me At The Bark</h2>
  
    <form class="form signup-form uk-width-expand@m">
      <div class="uk-margin form-group">
          <input class="uk-input" type="text" placeholder ="Your First Name" id="first-name"/>
      </div>

      <div class="uk-margin form-group">
          <input class="uk-input" type="text" placeholder ="Your Last Name" id="last-name" />
      </div>

      <div class="uk-margin form-group">
        <input class="uk-input" type="text" placeholder ="E-mail Address" id="email-signup" />
      </div>

      <div class="uk-margin form-group">
        <input class="uk-input" type="password" placeholder ="Password" id="password-signup" />
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="number" min="0" max="99999" placeholder ="Zip Code" id="zipcode" />
 

      <div class="uk-margin uk-text-center">
        <button class="uk-button uk-button-default" type="submit">Sign Up!</button>
      </div>


    </form>
  </div>
  <script src="./js/login.js"></script>
