  <div id="form">
    <h2 class="signupHeader uk-text-center">Join Meet Me At The Bark</h2>
  
    <form class="form signup-form uk-width-expand@m">
      <div class="uk-margin form-group">
          <input class="uk-input" type="text" placeholder ="Your First Name" id="first-name"/>
      </div>

      <div class="uk-margin form-group">
          <input class="uk-input" type="text" placeholder ="Your Last Name" id="last-name" />
      </div>

      <div class="uk-margin form-group">
        <input class="uk-input" type="text" placeholder ="E-mail Address" id="email-signup" />
      </div>

      <div class="uk-margin form-group">
        <input class="uk-input" type="password" placeholder ="Password" id="password-signup" />
      </div>

      {{!-- <div class="uk-margin form-group">
        <input class="uk-input" type="text" placeholder ="Dog's Name" id="pet-name" />
      </div>    --}}

      {{!-- <form action="/action_page.php">
        <label for="birthday">Dog's Date of Birth</label>
        <input type="date" id="birthday" name="birthday">
      </form> --}}

      {{!-- <div class="uk-margin form-group">
        <label class="uk-text-left" for="form-stacked-text">Primary Dog Breed:</label>
        <select class="uk-select" id="pet-breed form-stacked-select" type="text">
          <option></option>
          <option>Australian Shepard</option>
          <option>Beagle</option>
          <option>Chihuahua</option>
          <option>Corgi</option>
          <option>Dalmation</option>
          <option>Doberman</option>
          <option>French Bulldog</option>
          <option>German Shepard</option>
          <option>Golden Retriever</option>
          <option>Great Dane</option>
          <option>Pinscher - Miniature</option>
          <option>Pit Bull Terrier</option>
          <option>Poodle</option>
          <option>Pomeranian</option>
          <option>Labrador Retriever</option>
          <option>Rottweiler</option>
          <option>Schnauzer</option>
          <option>Shih Tzu</option>
          <option>Yorkshire Terrier</option>
        </select>
      </div> --}}

      {{!-- <div class="uk-margin form-group">
        <label  class="uk-text-left"  for="form-stacked-select" id="owner_interest">Your Interests (Select all that apply): </label>
            <label><input class="uk-checkbox" type="checkbox"> Cooking/Baking </label>
            <label><input class="uk-checkbox" type="checkbox"> Creative/Crafty </label>
            <label><input class="uk-checkbox" type="checkbox"> Foodie/Gourmand </label>
            <label><input class="uk-checkbox" type="checkbox"> Homebody </label>
            <label><input class="uk-checkbox" type="checkbox"> Outdoor Adventurer </label>
            <label><input class="uk-checkbox" type="checkbox"> Sports </label>
            <label><input class="uk-checkbox" type="checkbox"> Technology/Gaming </label>
            <label><input class="uk-checkbox" type="checkbox"> Travel </label>
      </div> --}}

      <div class="uk-margin">
        <input class="uk-input" type="number" min="0" max="99999" placeholder ="Zip Code" id="zipcode" />
      </div>

      {{!-- <div class="uk-margin form-group">
        <label class="uk-text-left" id="pet_breed" for="form-stacked-text">Upload Profile Image: </label>
        <form action="/action_page.php">
          <input type="file" id="myFile" name="foo">
        </form>
      </div> --}}

      <div class="uk-margin uk-text-center">
        <button id="submitBtn" class="uk-button uk-button-default" type="submit">Sign Up!</button>
      </div>


    </form>
  </div>
  <script src="./js/login.js"></script>
