*{
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --main-color: #7E9693;
    --font-color: #f3db0c;
}

.pageHeader {
    display: flex;
    background-color: var(--main-color);
}

.title {
    margin: 20px 0 20px 15px;
    font-weight: bold;
    color: var(--font-color);
    font-size: 28pt;
}

.title:link, .title:visited {
    color: var(--font-color);
}


.headerUL, .headerList {
    display: inline-block;
    list-style: none;
}

.headerList {
    margin: 35px 0 5px 15px;
    font-size: 13pt;
}

.headerLink:link, .headerLink:visited, .navBtn:link, .navBtn:visited {
    color: white;
}

nav {
    margin-left: 37%;
    margin-top: 25px;
}

.navBtn {
    padding: 1px 10px 1px 10px;
    margin-left: 5px;
    border: 2px solid var(--font-color);
    border-radius: 8px;
    font-size: 15pt;
    color: white;
    background-color: var(--main-color);
    
}

.dogGroup {
    width: 100%
}

.intro {
    margin: 0 12% 70px 12%;
    padding-top: 70px;
    font-size: 30pt;
    color: var(--font-color);
    font-weight: bold;
}


#form {
    border: 5px solid var(--font-color);
    border-radius: 5px;
    margin: 50px 30% 50px 30%;
}

.uk-margin {
    margin: 25px;
}

.signupHeader, .loginHeader{
    margin-top: 25px;
    color: var(--main-color);
    font-weight: bold;
}

.uk-button:hover {
    background-color: var(--main-color);
    color: var(--font-color);
}

#about-us {
    background-color: var(--main-color);
}


#testimonials {
    color: var(--main-color);
    margin: 20px 0 20px 0;
    font-weight: bold;
}

.uk-card-body {
    margin: 5px;
}

.testimonial-grid {
    margin: 20px 10px 20px 10px;
}

footer {
    background-color: var(--main-color);
    color: white;
}

.about-us-section {
    color: white;
    font-size: 20pt;
    padding-bottom: 20px;
}

#similar-section {
    margin: 0 20px 20px 20px;
    padding: 0 100px 0 100px;
}

#similar {
    margin: 0 100px 30px 100px;
    border-radius: 40px;
    font-size: large;

}

#myFile, .my-pet {
    margin-left: 10px;
}

.profile-group {
    width: 30%;
    position: relative;
}

.row, .profileTitle {
    margin-left: 20px;
}

#interest {
    font-size: 12pt;
}

#birthdayForm {
    margin-left: 25px;
}

.uk-checkbox {
    margin-left: 15px;
}

#interest_id {
    display: flex;
}


